-if current_user
  .current_user
    %h3 Current User
    %div
      = "You logged as: #{current_user.email}"
    =link_to 'Logout', destroy_user_session_path, :method => :delete
    %br
    =link_to 'Edit Preferences', edit_prefs_path
